body{
	margin:0px;
	padding: 0px;
}


@keyframes rotate{
	0%{
		transform: rotateY(0deg);
	}

	100%{
		transform: rotateY(360deg);
	}
}



ul{
	margin:0px;
	padding: 0px;

}


li{
	list-style-type: none;
	float:left;
	margin: 0px;
	padding:0px;
}

li a{
	text-decoration: none;
}

#first li{
	height:80px;
	
}

#first li:nth-child(1){
	width:10%;
}

#first li:nth-child(1) img{
	width:110%;
	height:100px;
	position: relative;
	top:-13%;
	cursor:pointer;

}

#first li:nth-child(1) img:hover{
	animation:rotate 1s ease;

}



#first li:nth-child(2){
	width:40%;
	
}

#first li:nth-child(2) a{
	font-size: 50px;
	color:orange;
	font-weight:bold;
	text-shadow:1px 1px 1px grey;
	line-height: 70px;
}

#first li:nth-child(2) span{
   color:black;	
}

#first li:nth-child(3){
	width:18%;
}


#first li:nth-child(3) a{
	line-height: 70px;
	font-size:22px;
	color:black;
}

#first li:nth-child(4){
	width:20%;
	color:black;

}

#first li:nth-child(4) img{
	width:35%;
	height:100%;
	animation:rotate 2s infinite;
}

#cc{
	font-size:30px;
	position: relative;
	top:-80%;
	left:35%;
	width:0%;
}

#first li:nth-child(5) a{
	line-height: 70px;
	font-size:22px;
	color:black;
}

#first li:nth-child(5){
	width:12%;
}

#first li a:hover{
	text-shadow: 1px 1px 1px grey;
}


#second li{
	height:50px;
	background-color:black;
	text-align:center; 

}

#second li a:hover{
	text-shadow: 1px 1px 2px white;
}

#second li:nth-child(1){
	width:40%;
}

#second li:nth-child(1) img{
	width:10%;
	height:50px;
	cursor:pointer;
	position: relative;
	left:-45%;
	transition: left 1s ease;

}


#second li:nth-child(2),li:nth-child(3), li:nth-child(4){
	width:20%;
}


#second li:nth-child(2) a{
	line-height: 40px;
	font-size:22px;
	color:white;
}

#second li:nth-child(3) a{
	line-height: 40px;
	font-size:22px;
	color:white;
}

#second li:nth-child(4), a{
	line-height: 40px;
	font-size:22px;
	color:white;
}

#slidebar{
	width:30%;
	height:800px;
	background-color: black;
	position: absolute;
	top:80px;
	left:-40%;
	transition: left 1s ease;
	color:white;



}



#backprofile{
	width:100%;
	height:280px;
	background-image: url('images/Capture.JPG');
	
}


#profile{

width:35%;
height:50%;
margin-left:33%;
position: relative;
top:10px;
border-radius: 100%;
background-size:105% 105%;
background-repeat:no-repeat;
background-color: white;
background-position: center;
opacity:1;

}

#backprofile .fnl{

	text-decoration: none;
	font-size:26px;
	color:white;
	display:block;
	text-align: center;
	height: 10%;	

}


#slidebar li img{
	width:20%;
	height:30%;
	animation:rotate 1s infinite;
}

#slidebar li:nth-child(1) a{
	position: relative;
	top:-30px;
}

#slidebar ul{
	width:100%;
}

#slidebar li{
	float:none;
	width:100%;
	text-align:center;
}

#proimg {
	width:18%;
	height:250px;
	border-radius:100%;
	background-size:100% 100%;
	background-position:center;
	margin-left:40%;
	margin-top:5%;
	border-style:solid;
	border-color:black;
	border-width: 4px


}

#upload form{

  margin-left:37%;

}


#upload button{
	width:15%;
	height:50px;
	border-radius:15px;
	background-color:orange;
	font-weight:bold;
	font-size:20px;
	cursor:pointer;
	border-style:solid;

}

#details span{
	font-size:40px;
	font-weight:bold;
	text-shadow:0.5px 0.5px 0.5px grey;
	
}


#details #changepwd{
	font-size:30px;
	font-weight:bold;
	color:deepskyblue;
	text-decoration: none;
}


#details{
	margin-left:35%;

}


.subdetail{
	color:black;
	text-indent:20%;
	margin:2%;
	font-size:25px;
	
	
}


#details button{
	background-color:white;
	border-radius:10px;
	border-style: solid;
	border-color: orange;
	width:50%;
	text-align:center;
	margin-left:5%;
}

#details button:hover{
	border-color:black orange black orange;
}






@media only screen and (max-device-width: 800px){


#first li{
	height:50px;
	
}

#first li:nth-child(1){
	width:20%;
}

#first li:nth-child(1) img{
	width:130%;
	height:80px;
	position: relative;
	top:-13%;

}


#first li:nth-child(2){
	width:50%;
	
}

#first li:nth-child(2) a{
	font-size: 270%;
}


#first li:nth-child(3){
	width:100%;
}


#first li:nth-child(3) a{
	font-size:150%;
	display: block;
	text-align: center;
}

#cc{
	font-size:170%;
	position: relative;
	top:-80%;
	left:35%;
	width:0%;
}

#first li:nth-child(4){
	width:30%;
	margin-left: 35%;
	height:40px;
}

#first li:nth-child(5){
	width:100%;
	font-size:20px;
}




#second li{
	height:50px;
	text-align:center;

}



#second li:nth-child(1){
	width:100%;
}

#second li:nth-child(1) img{
	width:13%;
	height:50px;
	position: relative;
	left:-45%;

}



#second li:nth-child(2),li:nth-child(3), li:nth-child(4){
	width:100%;
}


#second li:nth-child(2) a{
	font-size:22px;
	display: block;
	text-align: center;
}

#second li:nth-child(3) a{
	font-size:22px;
	display: block;
	text-align: center;
}

#second li:nth-child(4), a{
	line-height: 40px;
	font-size:22px;
	display: block;
	text-align: center;
}

#slidebar{
	width:75%;
	height:auto;
	top:200px;
	left:-100%;
	

}



#backprofile{
	height:280px;
	
}


#profile{

margin-left:30%;
width: 40%;
height: 150px;


}

#backprofile .fnl{

	font-size:25px;
	text-align: center;
	height: 10%;	

}


#slidebar li img{
	width:20%;
	height:30%;
}

#slidebar li:nth-child(1) a{
	position: relative;
	top:-30px;
}

#slidebar ul{
	width:100%;
}

#proimg {
	width:40%;
	height:200px;
	background-size:100% 100%;
	margin-left:30%;

}


#upload button{
	width:40%;
	height:50px;
	font-size: 60%;

}

#details span{
	font-size:180%;

	
}


#details{
	margin-left:5%;

}


.subdetail{
	text-indent:10%;
	margin:0%;
	font-size:130%;
	
	
}


#details button{
	width:80%;
	margin-left:0%;
}

#details #changepwd{
	font-size:140%;
}


}

